 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="paw-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="text-center">Paws Deep is a trustworthy and affordable pet waste removal and disposal service in Panama City and surrounding areas.</p>
                </div>
            </div>
        </div>
    </section>